@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
  * {
    @apply m-0 p-0 outline-none box-border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  ul,
  ol,
  li,
  div,
  img {
    @apply m-0 p-0 outline-none leading-none no-underline;
  }
  img {
    @apply align-middle;
  }

  :root {
    --JosefinSans: "Josefin Sans", sans-serif;
    --Lato: "Lato", sans-serif;
  }
}

@layer components {
  .header ul li a {
    position: relative;
    overflow: hidden;
    display: block;
  }

  .header ul li a:hover {
    color: #fb2e86;
  }

  .header ul li a::after {
    position: absolute;
    content: attr(data-link-alt);
    top: 100%;
    left: 0;
    opacity: 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
  }

  .header ul li a:hover::after {
    opacity: 1;
    top: 0;
  }

  .header ul li a span {
    display: block;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
  }

  .header ul li a:hover span {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  /* .header ul li a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7e33e0;
    transform-origin: right;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform ease 0.3s;
    -webkit-transition: transform ease 0.3s;
    -moz-transition: transform ease 0.3s;
    -ms-transition: transform ease 0.3s;
    -o-transition: transform ease 0.3s;
  }

  .header ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  } */
}
